body{
	margin:0 auto;
	padding:0 30px;
}
p{
	font-size: 20px;
    margin: auto;
    line-height: 150%;
}

h1 {
	font-size: 36px;
}
h2 {
	font-size: 20px;
	font-weight:lighter;
	font-style: italic;
	margin-left:30px;
}